.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}
.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
  // outline: 1px solid red;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  height: 52px;
  padding: 0 60px;
  border-radius: 8px;
  background-color: transparent;
  border: 0;
  outline: none;
  &--primary {
    color: white;
    background-color: #fb8f1d;
  }
  &--secondary {
    color: #fb8f1d;
    border: 1px solid currentColor;
  }
}
.dropdown {
  &-list {
    display: none;
  }
  &-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-radius: 6px;
    border: 1px solid #afb0b9;
    color: #202336;
    cursor: pointer;
  }
}
