$primary-font: "Inter", sans-serif;
$secondary-font: "Playfair Display", sans-serif;
$third-font: Mulish, sans-serif;
$gray: #b8becd;
$gray-dark: #afb0b9;
$primary-color: #fb8f1d;
$gray-darkest: #202336;
$gray-darker: #7d7987;
$gray-blur: #80918e; ;
